.MainLayout {
  max-height: 100vh;
  min-width: 100%;
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: min-content 1fr;
}

.sidebar {
  grid-area: sidebar;
  padding: 24px;
  max-width: 350px;
  min-width: 250px;
}

.content {
  max-height: 100vh;
  grid-area: content;
  justify-self: center;
  max-width: 1200px;
  width: 100%;
  padding: 24px;
}

.sidebar,
.rightbar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.toolbar {
  height: 100%;
  width: 100%;
}
