{$DOMAIN} {
	encode zstd gzip
	route {
		@api path /api/*
		reverse_proxy @api api:4000
		@ws {
			header Connection *Upgrade*
			header Upgrade websocket
		}
		reverse_proxy @ws api:4000
		reverse_proxy web:80
	}
}